$bg-btn: #facc15;
$bg-primary: #020617;

:root {
  --font-family: "Lexend Deca", sans-serif;
  --second-family: "Arvo", sans-serif;
  --bg-primary: #020617;
  --bg-dark: #111827;
  --color-title: #f3f4f6;
  --color-span: #eab308;
  --color-desc: #6b7280;
  --color-desc-second: #d1d5db;
  --color-nav: #9ca3af;
  --white: #fff;
  --black: #000;
  --bg-btn: #facc15;
  --br-btn: 4rem;
  --br-img: 24rem;
  --bg-input: #1f2937;
  --bg-experience: #191d28;
  --padding-mobile: 40rem 0;
}
